@import 'core/_mixins';
@import 'core/_fonts';

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

section {
	position: relative;
}

.header {
	position: relative;
}

.background {
	background: url(../img/header.png) no-repeat center top;
	width: 100%;
	height: 975px;
	background-size: cover;
}

.stripe {
	position: absolute;
	bottom: 78px;
	left: 0;
}

.logo {
	position: absolute;
	top: 5.2%;
	left: 3.6%;
}

.logo-text {
	display: inline-block;
	position: relative;
	@include roboto_regular(11px);
}

.logo-text-wrapper {
	>div {
		@include roboto_bold(23px);
	}
	position: absolute;
	top: -36px;
	left: 14px;
}

nav {
	position: absolute;
	top: 7.2%;
	right: 15.6%;
	ul {
		padding: 16px 27px;
		margin: 0;
		width: 100%;
		background: white;
		>li {
			display: inline-block;
			text-transform: uppercase;
			padding-right: 23px;
			@include roboto_con_reg(14px);
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.button {
	position: absolute;
	right: 2.4%;
	top: 8.8%;
	@include roboto_con_bold(14px);
	a {
		text-transform: uppercase;
		cursor: pointer;
		font-size:14px;
		text-decoration: none;
		padding: 13px 46px;
		color:#904eca;
		background-color:transparent;
		border-radius:0px;
		border: 3px solid #904eca;
	}
}

.topnav {
	@include open_sans_reg(15px);
	position: absolute;
	top: 3%;
	right: 3.2%;
}

.topnav-lang {
	display: inline-block;
	padding-right: 5px;
	padding-left: 29px;
}

.arrow {
	position: absolute;
	text-align: justify;
	width: 94%;
	top: 33.7%;
	left: 3%;
}

// should add left class and change arrow style
.right {
	right: 2%;
}

.date {
	display: inline-block;
	position: absolute;
	top: 43%;
	left: 5%;
	color: white;
	>span {
		@include open_sans_bold(70px);
	}
	.date-sup {
		vertical-align: 33px;
		@include open_sans_bold(25px)
	}
}

.boxes {
	display: table;
	position: absolute;
	top: 498px;
	left: 6%;
}

.boxes-top, .boxes-bottom {
	display: table-row;
}

.boxes-top-left {
	width: 612px;
	display: table-cell;
	@include roboto_bold(35px);
	text-align: left;
	color: white;
	>p {
		padding-top: 25px;
		@include roboto_regular(25px);
		color: #3d176b;
	}
	>div {
		margin-bottom: 26px;
	}
}

.boxes-button {
	position: relative;
	display: inline-block;
	a {
		@include roboto_con_bold(20px);
		text-transform: uppercase;
		cursor: pointer;
		text-decoration: none;
		color: white;
		background-color:transparent;
		border-radius:0px;
		border: 3px solid white;
	}
}

.btn-left {
	margin-right: 25px;
	a {
			padding: 16px 47px;
	}
}

.btn-right {
	a{
		padding: 16px 25px;
	}
}

.boxes-top-right {
	display: table-cell;
	color: white;
	height: 322px;
	width: 604px;
	background-color: #8740c8;
	text-align: center;
	h3 {
		text-transform: uppercase;
		@include roboto_bold(22px);
		margin-bottom: 31px;
	}
	>img {
		position: relative;
		top: 18px;
		margin-bottom: 22px;
	}
}

.box-discount {
	@include roboto_regular(22px);
	text-decoration: underline;
	margin-bottom: 15px;
}

.box-pay {
	@include roboto_regular(18px);
}

.boxes-bottom-left {
	color: white;
	display: table-cell;
	height: 348px;
	width: 609px;
	background-color: #8740c8;
	text-align: center;
	@include roboto_regular(17px);
	>img {
		position: relative;
		top: 58px;
		margin-bottom: 70px;
	}
	>h3 {
		line-height: 33px;
		text-transform: uppercase;
		@include roboto_bold(22px);
		margin-bottom: 17px;
	}
}

.boxes-bottom-right {
	color: white;
	background-color: #90c004;
	display: table-cell;
	text-align: center;
	@include roboto_regular(17px);
	>img {
		position: relative;
		top: 58px;
		margin-bottom: 70px;
	}
	>h3 {
		line-height: 33px;
		text-transform: uppercase;
		@include roboto_bold(22px);
		margin-bottom: 17px;
	}
}

.slider2 {
	position: relative;
	text-align: center;
	margin-top: 214px;
	>img {
		margin: 0 45px;
	}
}

.btn-photo {
	position: absolute;
	top: 207px;
	left: 43%;
	text-align: justify;
	a {
		padding: 16px 47px;
	}
}

.slider2-left, .slider2-right {
	display: inline-block;
	width: 290px;
	@include rob_lig_ital(16px);
	p:first-child {
		@include rob_lig_ital(18px);
		color: #7b4aa5;
	}
}

.slider2-arrow {
	top: 79%;
}

.party {
	display: table;
	position: relative;
	margin: 0 6%;
	box-shadow: 0px -14px 107px -22px rgba(0,0,0,0.75);
}

.party-top, .party-bottom {
	display: table-row;
}

.party-top-left {
	display: table-cell;
}

.party-top-right {
	background-color: #90c004;
	color: white;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	@include open_sans_reg(17px);
	h3 {
		@include roboto_bold(22px);
		text-transform: uppercase;
	}
}

.party-bottom-left {
	background-color: #dd892d;
	color: white;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	@include open_sans_reg(17px);
	h4 {
		text-transform: uppercase;
	}
	h3 {
		@include open_sans_bold(22px);
		text-transform: uppercase;
	}
}

.party-bottom-right {
	display: table-cell;
}

.sm-stripe {
	position: absolute;
	top: 306px;
	left: -62px;
	z-index: -1;
}

.tesla {
	background: url(../img/tesla.png) top left no-repeat;
	height: 675px;
	margin-left: -2px;
	position: relative;
}

.tesla-lightning {
	display: inline-block;
	margin-left: 31.3%;
	margin-top: 7.8%;
	img {
		float: left;
		margin-right: 55px;
	}
	h3 {
		@include roboto_bold(22px);
		text-transform: uppercase;
		margin-bottom: 37px;

	}
	p {
		@include rob_lig(14px);
		line-height: 1.6em;
	}
}

.tesla-lightning-text {
	position: relative;
	top: 21px;
	width: 880px;
}

.tesla-button {
	position: relative;
	display: inline-block;
	a {
		@include roboto_con_bold(14px);
		text-transform: uppercase;
		cursor: pointer;
		text-decoration: none;
		color: black;
		background-color:transparent;
		border-radius:0px;
		border: 3px solid #8740c8;
	}
}

.tesla-left, .tesla-right {
	margin-top: 61px;
}

.tesla-left {
	margin-right: 26px;
	a {
		padding: 13px 29px;
	}
}

.tesla-right {
	a {
		padding: 13px 25px;
	}
}

.slider3-arrow {
	top: 86%;
}

.inform {
	text-align: center;
	color: white;
	@include roboto_regular(20px);
	h3 {
		@include roboto_bold(22px);
		text-transform: uppercase;
		padding-bottom: 57px;
	}
	line-height: 1.5em;
box-shadow: 76px 0px 179px -103px rgba(0,0,0,0.75);
}

.inform-contact {
	background-color: #90c004;
	width: 523px;
	vertical-align: top;
	padding-top: 73px;
}

.inform-contact-hol {
	text-transform: uppercase;
	padding-bottom: 53px;
}

.inform-text {
	@include rob_med(25px);
	text-transform: uppercase;
	img {
		margin-bottom: 25px;
	}
}

.inform-cafe {
	background: url(../img/cafe.png) center no-repeat;
	height: 252px;
	width: 345px;
}

.inform-shop {
	background: url(../img/shop.png) center no-repeat;
}

.inform-edu {
	background: url(../img/edu.png) center no-repeat;
	width: 352px;
	height: 430px;
}

.inform-map {
	vertical-align: baseline;
}

.inform_color {
	width: 75px;
	background-color: #a452d1;
}

footer {
	background-color: #a452d1;
	height: 510px;
	// position: relative;
	// top: -188px;
	// z-index: -1;
	// trying to make some shit from right side of the table
}

.footlogo {
	position: relative;
	color: white;
	padding-top: 69px;
	padding-left: 42px;
}

.news {
	margin-top: 50px;
	margin-left: 65px;
	>p {
		@include roboto_bold(13px);
		color: white;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
}

.news-search {
	width: 223px;
	border-bottom: 1px solid #fff;
	min-height: 20px;
	color: white;
	input {
		background-color: transparent;
		border: 0;
		color: white;
		padding-left: 17px;
		outline: 0;
		width: 203px;
		&::-webkit-input-placeholder {
			color: white;
		}
		&::-moz-placeholder {
			color: white;
		}
	}
}

.social {
	margin-left: 65px;
	margin-top: 65px;
	@include roboto_bold(13px);
	text-transform: uppercase;
	color: white;
}

.fa-facebook {
	margin-top: 12px;
	margin-right: 30px;
}

.block-list {
	margin-right: 45px;
	display: inline-block;
	line-height: 25px;
	li {
		list-style: none;
	}
	a {
		@include open_sans_light(13px);
		color: #e6dcf3;
	}
	h4 {
		margin-bottom: 27px;
		@include open_sans_bold(13px);
		text-transform: uppercase;
		color: white;
	}
}

.block_top {
	margin-top: 83px;
}

.block_bottom {
	margin-top: 20px;
	.block-list {
		margin-right: 70px;
	}
}