@mixin roboto_regular($size) {
	font-family: 'RobotoRegular';
	font-size: $size;
}

@mixin roboto_bold($size) {
	font-family: 'RobotoBold';
	font-size: $size;
}

@mixin roboto_con_reg($size) {
	font-family: 'RobotoCondensedRegular';
	font-size: $size;
}

@mixin roboto_con_bold($size) {
	font-family: 'RobotoCondensedBold';
	font-size: $size;
}

@mixin open_sans_reg($size) {
	font-family: 'OpenSansRegular';
	font-size: $size;
}

@mixin open_sans_bold($size) {
	font-family: 'OpenSansBold';
	font-size: $size;
}

@mixin rob_lig_ital($size) {
	font-family: 'RobotoLightItalic';
	font-size: $size;
	font-style: italic;
}

@mixin rob_lig($size) {
	font-family: 'RobotoLight';
	font-size: $size;
	font-style: normal;
}

@mixin rob_med($size) {
	font-family: 'RobotoMedium';
	font-size: $size;
	font-style: normal;
}

@mixin open_sans_light($size) {
	font-family: 'OpenSansLight';
	font-size: $size;
	font-style: normal;
}