/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoLightItalic";
  src: url("../fonts/RobotoLightItalic/RobotoLightItalic.ttf");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
* {
  margin: 0;
  padding: 0;
  font: inherit; }

section {
  position: relative; }

.header {
  position: relative; }

.background {
  background: url(../img/header.png) no-repeat center top;
  width: 100%;
  height: 975px;
  background-size: cover; }

.stripe {
  position: absolute;
  bottom: 78px;
  left: 0; }

.logo {
  position: absolute;
  top: 5.2%;
  left: 3.6%; }

.logo-text {
  display: inline-block;
  position: relative;
  font-family: 'RobotoRegular';
  font-size: 11px; }

.logo-text-wrapper {
  position: absolute;
  top: -36px;
  left: 14px; }
  .logo-text-wrapper > div {
    font-family: 'RobotoBold';
    font-size: 23px; }

nav {
  position: absolute;
  top: 7.2%;
  right: 15.6%; }
  nav ul {
    padding: 16px 27px;
    margin: 0;
    width: 100%;
    background: white; }
    nav ul > li {
      display: inline-block;
      text-transform: uppercase;
      padding-right: 23px;
      font-family: 'RobotoCondensedRegular';
      font-size: 14px; }
      nav ul > li:last-child {
        padding-right: 0; }

.button {
  position: absolute;
  right: 2.4%;
  top: 8.8%;
  font-family: 'RobotoCondensedBold';
  font-size: 14px; }
  .button a {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    padding: 13px 46px;
    color: #904eca;
    background-color: transparent;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    border: 3px solid #904eca; }

.topnav {
  font-family: 'OpenSansRegular';
  font-size: 15px;
  position: absolute;
  top: 3%;
  right: 3.2%; }

.topnav-lang {
  display: inline-block;
  padding-right: 5px;
  padding-left: 29px; }

.arrow {
  position: absolute;
  text-align: justify;
  width: 94%;
  top: 33.7%;
  left: 3%; }

.right {
  right: 2%; }

.date {
  display: inline-block;
  position: absolute;
  top: 43%;
  left: 5%;
  color: white; }
  .date > span {
    font-family: 'OpenSansBold';
    font-size: 70px; }
  .date .date-sup {
    vertical-align: 33px;
    font-family: 'OpenSansBold';
    font-size: 25px; }

.boxes {
  display: table;
  position: absolute;
  top: 498px;
  left: 6%; }

.boxes-top, .boxes-bottom {
  display: table-row; }

.boxes-top-left {
  width: 612px;
  display: table-cell;
  font-family: 'RobotoBold';
  font-size: 35px;
  text-align: left;
  color: white; }
  .boxes-top-left > p {
    padding-top: 25px;
    font-family: 'RobotoRegular';
    font-size: 25px;
    color: #3d176b; }
  .boxes-top-left > div {
    margin-bottom: 26px; }

.boxes-button {
  position: relative;
  display: inline-block; }
  .boxes-button a {
    font-family: 'RobotoCondensedBold';
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: transparent;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    border: 3px solid white; }

.btn-left {
  margin-right: 25px; }
  .btn-left a {
    padding: 16px 47px; }

.btn-right a {
  padding: 16px 25px; }

.boxes-top-right {
  display: table-cell;
  color: white;
  height: 322px;
  width: 604px;
  background-color: #8740c8;
  text-align: center; }
  .boxes-top-right h3 {
    text-transform: uppercase;
    font-family: 'RobotoBold';
    font-size: 22px;
    margin-bottom: 31px; }
  .boxes-top-right > img {
    position: relative;
    top: 18px;
    margin-bottom: 22px; }

.box-discount {
  font-family: 'RobotoRegular';
  font-size: 22px;
  text-decoration: underline;
  margin-bottom: 15px; }

.box-pay {
  font-family: 'RobotoRegular';
  font-size: 18px; }

.boxes-bottom-left {
  color: white;
  display: table-cell;
  height: 348px;
  width: 609px;
  background-color: #8740c8;
  text-align: center;
  font-family: 'RobotoRegular';
  font-size: 17px; }
  .boxes-bottom-left > img {
    position: relative;
    top: 58px;
    margin-bottom: 70px; }
  .boxes-bottom-left > h3 {
    line-height: 33px;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    font-size: 22px;
    margin-bottom: 17px; }

.boxes-bottom-right {
  color: white;
  background-color: #90c004;
  display: table-cell;
  text-align: center;
  font-family: 'RobotoRegular';
  font-size: 17px; }
  .boxes-bottom-right > img {
    position: relative;
    top: 58px;
    margin-bottom: 70px; }
  .boxes-bottom-right > h3 {
    line-height: 33px;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    font-size: 22px;
    margin-bottom: 17px; }

.slider2 {
  position: relative;
  text-align: center;
  margin-top: 214px; }
  .slider2 > img {
    margin: 0 45px; }

.btn-photo {
  position: absolute;
  top: 207px;
  left: 43%;
  text-align: justify; }
  .btn-photo a {
    padding: 16px 47px; }

.slider2-left, .slider2-right {
  display: inline-block;
  width: 290px;
  font-family: 'RobotoLightItalic';
  font-size: 16px;
  font-style: italic; }
  .slider2-left p:first-child, .slider2-right p:first-child {
    font-family: 'RobotoLightItalic';
    font-size: 18px;
    font-style: italic;
    color: #7b4aa5; }

.slider2-arrow {
  top: 79%; }

.party {
  display: table;
  position: relative;
  margin: 0 6%;
  -webkit-box-shadow: 0px -14px 107px -22px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -14px 107px -22px rgba(0, 0, 0, 0.75); }

.party-top, .party-bottom {
  display: table-row; }

.party-top-left {
  display: table-cell; }

.party-top-right {
  background-color: #90c004;
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'OpenSansRegular';
  font-size: 17px; }
  .party-top-right h3 {
    font-family: 'RobotoBold';
    font-size: 22px;
    text-transform: uppercase; }

.party-bottom-left {
  background-color: #dd892d;
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'OpenSansRegular';
  font-size: 17px; }
  .party-bottom-left h4 {
    text-transform: uppercase; }
  .party-bottom-left h3 {
    font-family: 'OpenSansBold';
    font-size: 22px;
    text-transform: uppercase; }

.party-bottom-right {
  display: table-cell; }

.sm-stripe {
  position: absolute;
  top: 306px;
  left: -62px;
  z-index: -1; }

.tesla {
  background: url(../img/tesla.png) top left no-repeat;
  height: 675px;
  margin-left: -2px;
  position: relative; }

.tesla-lightning {
  display: inline-block;
  margin-left: 31.3%;
  margin-top: 7.8%; }
  .tesla-lightning img {
    float: left;
    margin-right: 55px; }
  .tesla-lightning h3 {
    font-family: 'RobotoBold';
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 37px; }
  .tesla-lightning p {
    font-family: 'RobotoLight';
    font-size: 14px;
    font-style: normal;
    line-height: 1.6em; }

.tesla-lightning-text {
  position: relative;
  top: 21px;
  width: 880px; }

.tesla-button {
  position: relative;
  display: inline-block; }
  .tesla-button a {
    font-family: 'RobotoCondensedBold';
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: transparent;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    border: 3px solid #8740c8; }

.tesla-left, .tesla-right {
  margin-top: 61px; }

.tesla-left {
  margin-right: 26px; }
  .tesla-left a {
    padding: 13px 29px; }

.tesla-right a {
  padding: 13px 25px; }

.slider3-arrow {
  top: 86%; }

.inform {
  text-align: center;
  color: white;
  font-family: 'RobotoRegular';
  font-size: 20px;
  line-height: 1.5em;
  -webkit-box-shadow: 76px 0px 179px -103px rgba(0, 0, 0, 0.75);
          box-shadow: 76px 0px 179px -103px rgba(0, 0, 0, 0.75); }
  .inform h3 {
    font-family: 'RobotoBold';
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 57px; }

.inform-contact {
  background-color: #90c004;
  width: 523px;
  vertical-align: top;
  padding-top: 73px; }

.inform-contact-hol {
  text-transform: uppercase;
  padding-bottom: 53px; }

.inform-text {
  font-family: 'RobotoMedium';
  font-size: 25px;
  font-style: normal;
  text-transform: uppercase; }
  .inform-text img {
    margin-bottom: 25px; }

.inform-cafe {
  background: url(../img/cafe.png) center no-repeat;
  height: 252px;
  width: 345px; }

.inform-shop {
  background: url(../img/shop.png) center no-repeat; }

.inform-edu {
  background: url(../img/edu.png) center no-repeat;
  width: 352px;
  height: 430px; }

.inform-map {
  vertical-align: baseline; }

.inform_color {
  width: 75px;
  background-color: #a452d1; }

footer {
  background-color: #a452d1;
  height: 700px; }

.footlogo {
  position: relative;
  color: white;
  padding-top: 69px;
  padding-left: 42px; }

.search {
  position: relative; }